@model IEnumerable<HireIN.Models.Applicant>

@{
    ViewBag.Title = "AppliedApplicantStatus";
}

<h2>Status of Applied Application</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacancyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacancyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
    </tr>
}

</table>

<p>
    @Html.ActionLink("Goto Dashboard", "Dashboard")
</p>